<header class="header-site">
  <div class="header-container">
    <div class="header-logo">
      <a href=""><img src="assets/logo sem fundo.png" /></a>
    </div>
    <ul class="header-menu">
      <li class="header-menu__item"><a href="Home">Home</a></li>
      <li class="header-menu__item"><a href="Benefícios">Benefícios</a></li>
      <li class="header-menu__item"><a href="Sobre mim">Sobre mim</a></li>
      <li class="header-menu__item"><a href="Especialidades">Especialidades</a></li>
      <li class="header-menu__item"><a href="Opiniões">Opiniões</a></li>
      <li class="header-menu__item"><a href="Contato">Contato</a></li>
    </ul>
    <div class="header-link">
      <a class="header-link__texto" href="https://www.facebook.com/MerceariaSchons"><img src="assets/whatsapp.png">(51) 99986-1977</a>
    </div>
  </div>
</header>
<main>

  <router-outlet></router-outlet>

</main>