<header class="header-site">
  <div class="header-container">
    <a class="header-logo" href=""><img src="assets/logo sem fundo.png" /></a>
    <ul class="header-menu">
      <li class="header-menu__item"><a href="#home">Home</a></li>
      <li class="header-menu__item"><a href="#beneficios">Benefícios</a></li>
      <li class="header-menu__item"><a href="Sobre mim">Sobre mim</a></li>
      <li class="header-menu__item"><a href="Especialidades">Especialidades</a></li>
      <li class="header-menu__item"><a href="Opiniões">Opiniões</a></li>
      <li class="header-menu__item"><a href="Contato">Contato</a></li>
    </ul>
    <div class="header-link">
      <a class="header-link__texto" href="https://wa.me/5551996668036?text=Olá! Vim através do site. Quero conversar."><img src="assets/whatsapp.png"> (51) 99666-8036</a>
    </div>
  </div>
</header>
<main id="home">
<section class="section-banner">
  <div class="section-banner__container">
    <div class="section-banner__container__grid-1">
      <p class="p1">O Auxílio que você procura está a um clique de você.</p>
      <h2>Psicopedagoga</h2>
      <h3>Especialista em Autismo - TEA</h3>
      <p class="p1">Ajudando crianças com Transtorno do Espectro Autista </p>
      <p class="p2">a desenvolver habilidades para a vida.</p>
      <div class="teste">
        <a class="section-banner__container__grid-1__botao-wpp" href=""><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i><span>agende sua consulta</span></a>
      </div>
    </div>
    <div class="section-banner__container__grid-2">
      <img src="./assets/ieda_perfil2.png" />
      <p></p>
    </div>
  </div>
</section>
<section class="section-beneficios" id="beneficios">
  <div class="section-beneficios__titulo">
    <h2>Benefícios do Atendimento Psicopedagógico</h2>
  </div>
  <div class="container-beneficios">
    <div class="container-card">
      <div class="section-beneficios__card">
        <h3 class="card-1__titulo">Avaliação Individualizada</h3>
        <p class="card-1__texto">Avaliação psicopedagógica individualizada para 
          mapear/cartografar as necessidades e potencialidades da pessoa com TEA;</p>
      </div>
    </div>
    <div class="container-card">
      <div class="section-beneficios__card">
        <h3 class="card-2__titulo">Tratamento Personalizado</h3>
        <p class="card-2__texto">Criação de um plano de tratamento personalizado, em parceria com outros profissionais da saúde e da educação, 
          para atender às necessidades específicas de cada pessoa; </p>
      </div>
    </div>
  </div>
  <div class="container-beneficios">
    <div class="container-card">
      <div class="section-beneficios__card">
        <h3 class="card-3__titulo">Desenvolvimento Sociais</h3>
        <p class="card-3__texto">Orientação para pais e cuidadores com estratégias eficazes para lidar com comportamentos desafiadores e 
          promover o desenvolvimento de habilidades sociais e de comunicação;</p>
      </div>
    </div>
    <div class="container-card">
      <div class="section-beneficios__card">
        <h3 class="card-4__titulo">Atendimento Presencial</h3>
        <p class="card-4__texto">Acompanhamento presencial e visitas técnicas às escolas para avaliar o 
          processo de aprendizagem e inclusão da criança com TEA;</p>
      </div>
    </div>
  </div>
  <div class="container-beneficios">
    <div class="container-card">
      <div class="section-beneficios__card">
        <h3 class="card-5__titulo">Atendimento Online</h3>
        <p class="card-5__texto">Possibilidade de atendimento online para as sessões de terapia psicopedagógica, em casos específicos;</p>
      </div>
    </div>
    <div class="container-card">
      <div class="section-beneficios__card">
        <h3 class="card-6__titulo">Grupo de Apoio</h3>
        <p class="card-6__texto">Proporcionar encontros de roda de conversas para familiares de pessoas com TEA a fim de promover o diálogo, 
          a compreensão e o fortalecimento da rede de apoio para as famílias.</p>
      </div>
    </div>
  </div>
</section>
<section class="section-contato">
  <div class="container-contato">
    <div class="section-contato__card">
      <h2>Fale comigo</h2>
      <span>Atendimento voltado a crianças com TEA</span>
      <span class="icon"><i class="fa-solid fa-envelope"></i> iedacbiachini@gmail.com</span>
      <span class="icon-2"><i class="fa-solid fa-phone"></i> (51) 99666-8036</span>
    </div>
  </div>
</section>
<footer class="footer-site">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://wa.me/5551996668036?text=Olá! Vim através do site. Quero conversar." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
  <div class="container-footer">
    <div class="copyright">
      <p>&copy;Ieda.</p>
    </div>
    <div class="text-desenvolvido">
      <span>Desenvolvido por <a href="https://www.instagram.com/lucasgschons/">Lucas Schons</a></span>
    </div>
  </div>
</footer>
</main>