.header-site{
    width: 100%;
    position: fixed;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);

    .header-container{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        padding: 5px 30px 5px 30px;
    }

    .header-logo{
        
        img{
            display: block;
            height: 60px;
        }
    }

    .header-menu{
        display: flex;
        align-items: center;
        &__item{
            font-size: 15px;
            &:hover{
                color: var(--roxo);
                transition: 0.2s;
            }
            &:nth-child(n+2):nth-child(-n+6){
                margin-left: 10px;
            }
        }
    }

    .header-link{
        display: flex;
        font-size: 20px;
        font-weight: bold;
        align-items: center;

        img{
            vertical-align: middle;
        }
    }
}

@media (max-width: 992px){
    .header-site{
        .header-container{
            padding: 5px 80px;
        }

        .header-menu{
            display: none;
        }
    }
}

@media (max-width: 768px){
    .header-site{
        .header-container{
            padding: 5px 50px;
        }
    }
    .header-link{
        font-size: 17px;
    }
}

@media (max-width: 610px){
    .header-site{
        .header-container{
            padding: 3px 30px;
        }
        .header-logo{
            img{
                height: 50px;   
            }
        }
    }
}

@media (max-width: 480px){
    .header-site{
        .header-container{
            padding: 5px 15px;
        }
        .header-logo{
            img{
                height: 40px;   
            }
        }
        .header-link{
            font-size: 17px;
        }
    }
   
}

@media (max-width: 410px){
    .header-site{
        .header-link{
            font-size: 15px;
            img{
                height: 15px;
            }
        }
    }
   
}

@media (max-width: 320px){
    .header-site{
        .header-container{
            padding: 3px 15px;
        }
        .header-link{
            display: none;
        }
    }
} 