/* CABEÇALHO */
.header-site{
    width: 100%;
    -webkit-box-shadow: 0 0 40px -20px rgb(0 0 0 / 25%);
            box-shadow: 0 0 40px -20px rgb(0 0 0 / 25%);
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1000;  
    background-color: var(--primary);
    .header-container{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        padding: 5px 100px 5px 100px;
    }
    .header-logo{
        img{
            display: block;
            height: 60px;
        }
    }
    .header-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        &__item{
            font-size: 15px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: var(--preto-texto);
            list-style-type: none;
            &:hover{
                color: var(--azul);
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
            }
            &:nth-child(n+2):nth-child(-n+6){
                margin-left: 15px;
            }
        }
    }
    .header-link{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 20px;
        font-weight: bold;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        img{
            vertical-align: middle;
        }
    }
}
/* BANNER */
.section-banner{
    background: url(../assets/banner_azul_claro.png) 27% no-repeat;
    width: 100%;
    min-height: 200px;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 70px;
    &__container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin: 50px 100px 0 100px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        &__grid-1{
            padding: 25px;
            h2{
                font-size: 2.3rem;
                text-transform: uppercase;
                color: var(--primary);
                padding: 2px 5px 5px 5px;
            }
            .h3{
                font-size: 1.3rem;
                color: var(--primary);
                padding: 0 5px 5px 5px;
                &-1{
                    font-size: 1.3rem;
                    color: var(--primary);
                    padding: 0 5px 25px 5px;
                }
            }
            .p1{
                padding: 5px;
                font-size: 1.1rem;
                color: var(--primary);
                margin-bottom: 35px;
            }
            .p2{
                color: var(--primary);
                padding: 2px 5px 15px 5px;
                font-size: 1.1rem;
            }
            &__botao-wpp{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                color: var(--primary);
                background-color: var(--verde);
                padding: 15px;
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: bold;
                border-radius: 8px;
                width: 370px;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                
                i{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-size: 24px;
                }
                span{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    padding-left: 8px;
                }
                &:hover{
                    -webkit-transition-duration: .3s;
                         -o-transition-duration: .3s;
                            transition-duration: .3s;
                    -webkit-transition-property: -webkit-transform;
                    transition-property: -webkit-transform;
                    -o-transition-property: transform;
                    transition-property: transform;
                    transition-property: transform, -webkit-transform;
                    -webkit-transition-timing-function: ease-out;
                         -o-transition-timing-function: ease-out;
                            transition-timing-function: ease-out;
                    -webkit-transform: translateY(-5px);
                        -ms-transform: translateY(-5px);
                            transform: translateY(-5px);
                    background-color: var(--verdeclaro);   
                }
            }
        }
        &__grid-2{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 25px 30px 0px;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            img{
                max-height: 435px;
            }
        }   
    }
}
/*ESPECIALIDADES */
.section-beneficios{
    padding-bottom: 45px;
    &__titulo{
        margin: 70px 50px 50px 50px;
        h2{
            text-align: center;
            color: var(--preto-texto);
        }
        span{
            color: var(--azul);
        }
    }
    .container-beneficios{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 35px;
        .container-card{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            max-width: 600px;
            max-height: 400px;
            &:nth-child(1){
                margin-right: 35px;
            }
            .section-beneficios__card{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding: 32px;
                border: 2px solid var(--cinza-claro);
                border-radius: 20px;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-flow: column wrap;
                        flex-flow: column wrap;
                width: 100%;
                height: 100%;
                h3{
                    color: var(--preto-texto);
                    padding-bottom: 15px;

                }
                p{
                    color: var(--cinza-texto);
                    font-weight: 400;
                    line-height: 1.5;
                }  
            }
        }
    }
}
/*SOBRE MIM*/
.section-sobremim{
    background-color: var(--cinza-back);
    .container-sobremim{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1400px;
        margin: 0 auto;
        padding: 70px 0;
    }
    &__foto{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 30px;
        img{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border-radius: 10px;
            max-height: 530px;
            margin-left: 30px;
        }
    }
    &__texto{
        padding-right: 30px;
        padding-left: 10px;
        h2{
            font-size: 1.2rem;
            padding: 0 0 5px 0;
            color: var(--azul);
        }
        h3{
            font-size: 1.5rem;
            padding: 5px 0;
            color: var(--preto-texto);
        }
        p{
            padding: 10px 0 20px 0;
            color: var(--preto-texto);
            line-height: 1.5;
            font-size: 15px;
        }
        span{
            font-size: 1.2rem;
            color: var(--preto-texto);
            font-weight: 600;
        }
        ul{
            padding: 18px;
            li{
                padding-bottom: 5px;
                line-height: 1.5;
                font-size: 15px;
            }
        }
    }
}
/*INFORMACÃO*/
.section-informacao{
    .container-informacao{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
        padding: 70px 40px 70px 40px;
    }
    &__imagem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 60px;
        img{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            max-width: 180px;
        }
    }
    &__texto{
        padding: 0 10px;
        h2{
            font-size: 1.5rem;
            padding: 0 0 5px 0;
            color: var(--preto-texto);
        }
        p{
            padding: 10px 0 20px 0;
            color: var(--preto-texto);
            line-height: 1.5;
            font-size: 15px;
        }
    }
}
/*ATENDIMENTO*/
.section-atendimento{
    .container-atendimento{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
        padding: 70px 40px 0 40px;
    }
    &__texto{
        padding: 0 10px;
        h2{
            font-size: 1.5rem;
            padding: 0 0 5px 0;
            color: var(--preto-texto);
        }
        p{
            padding: 10px 0 20px 0;
            color: var(--preto-texto);
            line-height: 1.5;
            font-size: 15px;
        }
        .container_botao-wpp{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 20px;
            border-radius: 50px;
            background-color: var(--verde);
            max-width: 400px;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: bold;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-top: 30px;
            
            i{
                font-size: 24px;
            }
            span{
                padding-left: 8px;
                color: var(--primary);
            }
            &:hover{
                background-color: var(--verdeclaro);   
            }
        }
    }
    &__imagem{
        padding-left: 15px;
        img{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            max-width: 450px;
        }
    }
    
}
/*Contato*/
.section-contato{
    background-color: var(--azul);
    .logo-footer{
        img{
            width: 300px;
        }
    }
    .container-contato{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 40px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .contato-info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        .section-contato__endereco{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .container-endereco{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                border-style: dashed;
                border-width: 0px 1px 0px 0px;
                border-color: var(--primary);
                
                h2{
                    font-size: 1.6rem;
                    padding-bottom: 10px;
                    color: var(--primary);
                    text-align: center;
                    margin-right: 20px;
                }
                .span-end{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-size: 1.2rem;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    color: var(--primary);
                    padding-top: 8px;
                    margin-right: 20px;
                    &_2{
                        padding-top: 3px;
                    }
                }
            }
        }
        .section-contato__card{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-left: 20px;
            .container-card{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                h2{
                    font-size: 1.6rem;
                    padding-bottom: 10px;
                    color: var(--primary);
                    text-align: center;
                }
                .icon{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    padding-top: 8px;
                    font-size: 1.2rem;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    color: var(--primary);
                    i{
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        padding-right: 5px;
                    }
                }   
            }
        }
    }
}
/*Footer*/
.footer-site{
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        -webkit-box-shadow: 2px 2px 3px #999;
                box-shadow: 2px 2px 3px #999;
        z-index:100;
    }
    .my-float{
        margin-top:16px;
    }
    .container-footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: var(--primary);
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 1% 5% 1% 5%;
        min-height: 30px;
        .copyright{
            color: var(--azul);
        }
        span{
            color: var(--azul);
        }
    }
}
@media (max-width: 1320px){
    .section-banner{
        .section-banner__container__grid-1{
            text-align: center;
            .teste{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
        }
    }
    .section-beneficios{
        .container-beneficios{
            margin: 25px;
            .container-card{
                max-width: 500px;
                max-height: 250px;
                &:nth-child(1){
                    margin-right: 25px;
                }
                .section-beneficios__card{
                    padding: 20px;   
                }
            }
        }
    }
}
@media (max-width: 1080px){
    .header-site{
        .header-container{
            padding: 5px 80px;
        }
        .header-menu{
            display: none;
        }
    }
    .section-banner{
        &__container{
            margin: 25px 25px 0 25px;
        }
        .section-banner__container__grid-1{
            text-align: center;
            .teste{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
        }
    }
    .section-beneficios{
        .container-beneficios{
            .container-card{
                max-width: 380px;
                max-height: 450px;
            }
        }
    }
    .section-sobremim{
        .container-sobremim{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            max-width: 500px;
        }
        &__foto{
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            padding-bottom: 35px;
        }
        &__texto{
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }
    .section-contato{
        .container-contato{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding: 0;
        }
        .logo-footer{
            margin: 0 auto;
            padding: 40px 40px 20px 40px;
        }
        .contato-info{
            margin: 0 auto;
            padding: 20px 40px 40px 40px;
        }
    }
    .section-atendimento{
        .container-atendimento{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding: 0;
        }
        &__texto{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            max-width: 80%;
            margin: 0 auto;
            padding-top: 70px;
            .container_botao-wpp{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin-bottom: 40px;
                margin-left: auto;
                margin-right: auto;
                padding: 15px;
                span{
                    font-size: 1rem;
                }
                i{
                    font-size: 18px;
                }
            }
        }
        &__imagem{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }
    .section-informacao{
        .container-informacao{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding: 40px 0;
        }
        &__texto{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            max-width: 80%;
            margin: 0 auto;
            padding-top: 70px;
        }
        &__imagem{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            img{
                max-width: 200px;
            }
        }
    }
}
@media (max-width: 868px){
    .section-beneficios{
        .container-beneficios{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            margin-bottom: 0;
            margin-top: 0;
            .container-card{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                max-width: 380px;
                max-height: 450px;
                margin-bottom: 25px;
                margin-right: auto;
                margin-left: auto;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                &:nth-child(1){
                    margin-right: auto;
                }
            }
        }
    }
    .section-contato{
        .container-contato{
            .logo-footer{
                img{
                    width: 220px;
                }
            }
        }
    }
}
@media (max-width: 768px){
    .header-site{
        .header-container{
            padding: 5px 50px;
        }
    }
    .header-link{
        font-size: 17px;
    }
    .section-banner{
        .section-banner__container__grid-1{
            padding: 10px 0 10px 0;
            h2{
                font-size: 2rem;
            }
            .h3{
                font-size: 1.2rem;
                padding: 0 5px 0px 5px;
                &-1{
                    font-size: 1.2rem;
                }
            }
            .p1{
                font-size: 1rem;
            }
        }
    }
    .section-informacao{
        &__imagem{
            padding: 0;
            img{
                max-width: 150px;
            }
        }
    }
    .section-atendimento__imagem{
        img{
            width: 300px;
        }
    }
    .section-contato{
        .logo-footer{
            margin: 0 auto;
            padding: 70px 40px 20px 40px;
            img{
                width: 180px;
            }
        }
        .contato-info{
            margin: 0 auto;
            padding: 20px 40px 70px 40px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            .section-contato__endereco{
                .container-endereco{
                    border-width: 0px 0px 1px 0px;
                    h2{
                        font-size: 1.5rem;
                        padding-bottom: 8px;
                        margin-right: 0;
                    }
                    .span-end{
                        font-size: 1rem;
                        margin-right: 0;
                        margin-bottom: 15px;
                        padding-top: 5px;
                        &_2{
                            padding-top: 0;
                        }
                    }
                }
            }
            .section-contato__card{
                margin-left: 0;
                margin-top: 15px;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                .container-card{
                    h2{
                        font-size: 1.5rem;
                        padding-bottom: 8px;
                    }
                    .icon{
                        padding-top: 5px;
                        font-size: 1rem;
                    }   
                }
            }
        }
    }
    .footer-site{
        .container-footer{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding: 5% 5% 5% 5%;
            text-align: center;
            .copyright{
                padding-bottom: 10px;
            }
            span{
                padding-top: 10px;
            }
        }
    }
}
@media (max-width: 610px){
    .header-site{
        .header-container{
            padding: 3px 30px;
        }
        .header-logo{
            img{
                height: 50px;   
            }
        }
    }
    .section-banner{
        margin-top: 58px;
        .section-banner__container{
            margin: 20px 20px 0 20px;
            .section-banner__container__grid-1{
                padding: 15px 0px 15px 0;
                text-align: left;
                h2{
                    font-size: 1.4rem;
                }
                h3{
                    font-size: 1.1rem;
                    line-height: 1.5;
                    
                    .h3-1{
                        font-size: 1.1rem;
                        padding: 0 5px 15px 0;
                        line-height: 1.5;
                    }
                }
                .p1{
                    font-size: 1rem;
                }
                &__botao-wpp{
                    width: 270px;
                    padding: 10px;
                    font-size: 1rem;
                    i{
                        font-size: 18px;
                    }
                    span{
                        padding-left: 8px;
                    }
                }
            }
            &__grid-2{
                padding: 10px 30px 0;
                img{
                    max-width: 250px;
                }
            }   
        }
    }
    .section-sobremim{
        .container-sobremim{
            max-width: 380px;
        }
        &__foto{
            margin-left: 0;
            img{
                max-width: 380px;
            }
        }
        
    }
}

@media (max-width: 480px){
    .header-site{
        .header-container{
            padding: 5px 15px;
        }
        .header-logo{
            img{
                height: 50px;   
            }
        }
    }
    .section-sobremim{
        .container-sobremim{
            max-width: 300px;
        }
        &__foto{
            padding: 0;
            img{
                max-width: 300px;
                margin-left: 0;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
        }
        &__texto{
            padding: 0;
            h2{
                padding-top: 20px;
            }
        }
    }
    .section-atendimento{
        &__texto{
            .container_botao-wpp{
                padding: 10px;
                span{
                    font-size: 15px;

                }
                i{
                    font-size: 18px;
                }
            }
        }
        &__imagem{
            img{
                width: 250px;
            }
        }
    }
    .container-footer{
        padding: 20px;
    }
}

@media (max-width: 410px){
    .header-site{
        .header-link{
            font-size: 15px;
            img{
                height: 15px;
            }
        }
    }
    .section-banner{
        &__container{
            margin: 20px 0 0 0;
            .section-banner__container__grid-1{
                text-align: left;
                padding: 15px;
                .p1{
                    font-size: 0.85rem;
                }
                .p2{
                    font-size: 0.85rem;
                }
            }
        }
    }
    .section-sobremim{
        .container-sobremim{
            max-width: 270px;
        }
        &__foto{
            img{
                max-width: 200px;
            }
        }
    }
    .section-informacao{
        .container-informacao{
            padding-top: 25px;
            padding-bottom: 25px;
        }
        &__texto{
            padding-top: 35px;
        }
        &__imagem{
            padding: 0;
            img{
                max-width: 125px;
            }
        }
    }
    .section-atendimento{
        &__texto{
            padding-top: 25px;
        }
    }
}

@media (max-width: 320px){
    .header-site{
        .header-container{
            padding: 3px 15px;
        }
        .header-link{
            display: none;
        }
    }
    section-sobremim{
        .container-sobremim{
            max-width: 300px;
        }
        &__foto{
            img{
                max-width: 250px;
            }
        }
    }
} 