<header class="header-site">
  <div class="header-container">
    <a class="header-logo" href=""><img src="assets/logo sem fundo.png" /></a>
    <ul class="header-menu">
      <li class="header-menu__item"><a href="Home">Home</a></li>
      <li class="header-menu__item"><a href="Benefícios">Benefícios</a></li>
      <li class="header-menu__item"><a href="Sobre mim">Sobre mim</a></li>
      <li class="header-menu__item"><a href="Especialidades">Especialidades</a></li>
      <li class="header-menu__item"><a href="Opiniões">Opiniões</a></li>
      <li class="header-menu__item"><a href="Contato">Contato</a></li>
    </ul>
    <div class="header-link">
      <a class="header-link__texto" href="https://www.facebook.com/MerceariaSchons"><img src="assets/whatsapp.png"> (51) 99666-8036</a>
    </div>
  </div>
</header>
<main>
<section class="section-banner">
  <div class="section-banner__container">
    <div class="section-banner__container__grid-1">
      <p class="p1">O Auxílio que você procura está a um clique de você.</p>
      <h2>Psicopedagoga</h2>
      <h3>Especialista em Autismo - TEA</h3>
      <p class="p1">Ajudando crianças com Transtorno do Espectro Autista </p>
      <p class="p2">a desenvolver habilidades para a vida.</p>
      <div class="teste">
        <a class="section-banner__container__grid-1__botao-wpp" href=""><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i><span>agende sua consulta</span></a>
      </div>
      
    </div>
    <div class="section-banner__container__grid-2">
      <img src="./assets/ieda_perfil2.png" />
      <p></p>
    </div>
  </div>
</section>

 
</main>