/* CABEÇALHO */
.header-site{
    width: 100%;
    box-shadow: 0 0 40px -20px rgb(0 0 0 / 25%);
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1000;  
    background-color: var(--primary);
    .header-container{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        padding: 5px 100px 5px 100px;
    }
    .header-logo{
        img{
            display: block;
            height: 60px;
        }
    }
    .header-menu{
        display: flex;
        align-items: center;
        &__item{
            font-size: 15px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: var(--preto-texto);
            &:hover{
                color: var(--azul);
                transition: 0.2s;
            }
            &:nth-child(n+2):nth-child(-n+6){
                margin-left: 15px;
            }
        }
    }
    .header-link{
        display: flex;
        font-size: 20px;
        font-weight: bold;
        align-items: center;
        img{
            vertical-align: middle;
        }
    }
}
/* BANNER */
.section-banner{
    background: url(../assets/banner_azul_claro.png) 27% no-repeat;
    width: 100%;
    min-height: 200px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    &__container{
        display: flex;
        width: 100%;
        margin: 50px 100px 0 100px;
        flex-flow: row wrap;
        justify-content: space-around;
        &__grid-1{
            padding: 25px;
            h2{
                font-size: 3rem;
                text-transform: uppercase;
                color: var(--primary);
                padding: 2px 5px 0px 5px;
            }
            h3{
                font-size: 1.8rem;
                color: var(--primary);
                padding: 0 5px 25px 5px;
            }
            .p1{
                padding: 5px;
                font-size: 1.1rem;
                color: var(--primary);
            }
            .p2{
                color: var(--primary);
                padding: 2px 5px 15px 5px;
                margin-bottom: 35px;
                font-size: 1.1rem;
            }
            &__botao-wpp{
                display: flex;
                color: var(--primary);
                background-color: var(--verde);
                padding: 15px;
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: bold;
                border-radius: 8px;
                width: 350px;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                i{
                    display: flex;
                    font-size: 24px;
                }
                span{
                    display: flex;
                    padding-left: 8px;
                }
                &:hover{
                    transition-duration: .3s;
                    transition-property: transform;
                    transition-timing-function: ease-out;
                    transform: translateY(-5px);
                    background-color: var(--verdeclaro);   
                }
            }
        }
        &__grid-2{
            display: flex;
            padding: 25px 30px 0px;
            justify-content: center;
            img{
                max-height: 435px;
            }
        }   
    }
}
/* BENEFICIOS */
.section-beneficios{
    &__titulo{
        margin: 50px;
        h2{
            text-align: center;
            color: var(--preto-texto);
        }
    }
    .container-beneficios{
        display: flex;
        justify-content: center;
        margin: 35px;
        .container-card{
            display: flex;
            max-width: 600px;
            max-height: 180px;
            &:nth-child(1){
                margin-right: 35px;
            }
            .section-beneficios__card{
                display: flex;
                padding: 32px;
                border: 2px solid var(--cinza-claro);
                border-radius: 20px;
                flex-flow: column wrap;
                width: 100%;
                height: 100%;
                h3{
                    color: var(--preto-texto);
                    padding-bottom: 15px;
    
                }
                p{
                    color: var(--cinza-texto);
                    font-weight: 400;
                    line-height: 1.5;
                }  
            }
        }
    }
}
/*Contato*/
.section-contato{
    background-color: var(--azul);
    .logo-footer{
        img{
            width: 300px;
        }
    }
    .container-contato{
        display: flex;
        padding: 40px;
        justify-content: space-around;
    }
    &__card{
        display: flex;
        padding: 20px 35px 20px 35px;
        border-radius: 8px;
        justify-content: center;
        flex-direction: column;
        h2{
            font-size: 1.6rem;
            text-align: center;
            padding-bottom: 10px;
            color: var(--primary);
        }
        span{
            color: var(--primary);
            font-size: 1rem;
            text-align: center;
        }
        .icon{
            color: var(--primary);
            padding-top: 20px;
            font-size: 1.2rem;
            align-items: center;
            &-2{
                padding-top: 8px;
                font-size: 1.2rem;
            }
            i{
                font-size: 1.2rem;
            }
        }
    }
}
/*Footer*/
.footer-site{
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:100;
    }
    .my-float{
        margin-top:16px;
    }
    .container-footer{
        display: flex;
        background-color: var(--primary);
        justify-content: space-between;
        padding: 1% 5% 1% 5%;
        
        .copyright{
            color: var(--azul);
        }
        span{
            color: var(--azul);
        }
    }
}

@media (max-width: 1320px){
    .section-beneficios{
        .container-beneficios{
            margin: 25px;
            .container-card{
                max-width: 500px;
                max-height: 200px;
                &:nth-child(1){
                    margin-right: 25px;
                }
                .section-beneficios__card{
                    padding: 20px;
                
                   
                }
            }
        }
    }
}

@media (max-width: 1080px){
    .header-site{
        .header-container{
            padding: 5px 80px;
        }
        .header-menu{
            display: none;
        }
    }
    .section-banner{
        .section-banner__container__grid-1{
            text-align: center;
            .teste{
                display: flex;
                justify-content: center;
            }
        }
    }
    .section-beneficios{
        .container-beneficios{
            .container-card{
                max-width: 380px;
                max-height: 300px;
            }
        }
    }
}
@media (max-width: 868px){
    .section-beneficios{
        .container-beneficios{
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            margin-top: 0;
            
            .container-card{
                display: flex;
                max-width: 380px;
                max-height: 350px;
                margin-bottom: 25px;
                margin-right: auto;
                margin-left: auto;
                align-items: center;

                &:nth-child(1){
                    margin-right: auto;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .header-site{
        .header-container{
            padding: 5px 50px;
        }
    }
    .header-link{
        font-size: 17px;
    }
    .section-contato{
        .container-contato{
            flex-direction: column;
            align-items: center;
            .logo-footer{
                padding: 20px 35px 20px 35px;
            }
        }

    }
}

@media (max-width: 610px){
    .header-site{
        .header-container{
            padding: 3px 30px;
        }
        .header-logo{
            img{
                height: 50px;   
            }
        }
    }
    .section-banner{
        margin-top: 58px;
        &__container{
            margin: 20px 50px 0 50px;
            &__grid-1{
                padding: 15px;
                h2{
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    color: var(--primary);
                    padding: 1px 5px 0px 5px;
                }
                h3{
                    font-size: 1.4rem;
                    padding: 0 5px 25px 5px;
                }
                .p1{
                    padding: 4px;
                    font-size: 1rem;
                }
                .p2{
                    padding: 1px 5px 15px 5px;
                    margin-bottom: 15px;
                    font-size: 1rem;
                }
                &__botao-wpp{
                    width: 270px;
                    padding: 10px;
                    font-size: 1.1rem;
                    i{
                        font-size: 18px;
                    }
                    span{
                        padding-left: 8px;
                    }
                }
            }
            &__grid-2{
                padding: 10px 30px 0;
            }   
        }
    }
}

@media (max-width: 480px){
    .header-site{
        .header-container{
            padding: 5px 15px;
        }
        .header-logo{
            img{
                height: 50px;   
            }
        }
        .header-link{
            display: none;
        }
    }
   
}

@media (max-width: 410px){
    .header-site{
        .header-link{
            font-size: 15px;
            img{
                height: 15px;
            }
        }
    }
    .section-banner{
        &__container{
            margin: 20px 0 0 0;
            &__grid-1{
                h2{
                    font-size: 1.8rem;;
                }
                h3{
                    font-size: 1.2rem;
                }
                .p1{
                    font-size: 0.85rem;
                }
                .p2{
                    font-size: 0.85rem;
                }
            }
        }

    }
   
}

@media (max-width: 320px){
    .header-site{
        .header-container{
            padding: 3px 15px;
        }
        .header-link{
            display: none;
        }
    }
} 