:root {
    --primary: #ffff;
    --cinza: #5c5c5c;
    --text-botao: #af0006;
    --roxo: #9c5f72;
    --verde: #5F9C6D;
    --verdeclaro: #93bf85;
    --azul: #015BAB;
    --cinza-claro: #DBDBDB;
    --cinza-texto: #7A7A7A;
    --preto-texto: #303030;
    --cinza-back: #f2f2f2;
}

#main{
    position: relative;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a{
    color: inherit;
    text-decoration: none;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif, serif, "roboto", "Poppins";
}

